* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: #1d543d;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

header .header-logo {
  height: 100%;
  opacity: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: .75em;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

header .header-logo_img {
  height: 60%;
  opacity: 20%;
  margin-left: 1em;
}

header .header-logo_text {
  position: absolute;
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-left: 1.5em;
}

@media (min-width: 650px) {
  header .header-logo {
    opacity: 0;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
}

nav {
  position: fixed;
  background: #1d543d;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

nav ul.container {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3em 0;
}

nav ul.container li {
  list-style: none;
  text-align: center;
  margin-top: 2.5em;
}

nav ul.container a {
  font-size: 1.5rem;
  color: rgba(249, 248, 248, 0.85);
  text-decoration: none;
  border-bottom: 1px solid #1d543d;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  -webkit-transition: border-bottom 400ms ease;
  transition: border-bottom 400ms ease;
}

nav ul.container a:hover, nav ul.container a:focus {
  cursor: pointer;
  color: #fff;
  border-bottom: 1px solid white;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

button.nav-toggle {
  width: 50px;
  border-radius: 50%;
  padding: 1em;
  margin: 1.6em;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #1d543d;
  cursor: pointer;
  z-index: 2000;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

button.nav-toggle .hamburger {
  content: "";
  width: 33px;
  height: 4px;
  position: absolute;
  background: #f9f8f8;
  border-radius: 7px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

button.nav-toggle .hamburger::before {
  content: "";
  width: 33px;
  height: 4px;
  position: absolute;
  background: #f9f8f8;
  border-radius: 7px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  left: 0;
  top: -9px;
}

button.nav-toggle .hamburger::after {
  content: "";
  width: 33px;
  height: 4px;
  position: absolute;
  background: #f9f8f8;
  border-radius: 7px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  left: 0;
  top: 9px;
}

.nav-open nav {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.nav-open button.nav-toggle {
  -webkit-transform: translateY(20px) scale(1.2);
          transform: translateY(20px) scale(1.2);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.nav-open button.nav-toggle .hamburger {
  background: transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.nav-open button.nav-toggle .hamburger:before {
  -webkit-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
  background: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.nav-open button.nav-toggle .hamburger:after {
  -webkit-transform: rotate(135deg) translate(-4px, 5px);
          transform: rotate(135deg) translate(-4px, 5px);
  background: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

@media (min-width: 650px) {
  nav {
    height: 70px;
    background-color: rgba(29, 84, 61, 0);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  nav ul.container {
    background-color: rgba(29, 84, 61, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin-top: 1.25em;
    height: 30px;
  }
  nav ul.container li {
    margin: 0;
    height: 30px;
  }
  nav ul.container a {
    font-size: .75rem;
    font-weight: 300;
  }
  button.nav-toggle {
    display: none;
    padding: 1em;
  }
}

.hero-logo {
  margin: 6em 0 3em 0;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero-logo_img {
  width: 55%;
  max-width: 250px;
  margin: 0 auto;
  opacity: 5%;
  position: absolute;
  -webkit-transform: scaleX(-1) rotate(230deg) translateY(2em);
          transform: scaleX(-1) rotate(230deg) translateY(2em);
}

.hero-logo_text {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.img-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0 2em 0;
  z-index: 1;
}

.img-tiles a {
  width: 100%;
  color: #292929;
  cursor: pointer;
}

.img-tiles .img-tile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-tiles .img-tile_img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.5em;
}

.img-tiles .img-tile p.img-tile_text {
  font-family: "Besley", serif;
  font-style: italic;
  letter-spacing: 3px;
  position: absolute;
  background: #fff;
  padding: 2px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
}

@media (min-width: 550px) {
  .img-tiles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .img-tiles .img-tile_img {
    height: 100%;
  }
}

.sidebar {
  margin-bottom: 1.5em;
  width: 100%;
  background: #f1f0f0;
}

.sidebar img {
  width: 100%;
  height: 33%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar h4 {
  font-size: 1.5rem;
}

.sidebar-container {
  padding: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar-container p {
  font-size: .75rem;
  margin: 1em 0;
}

.sidebar-container p.email-list_subtitle {
  font-family: "Besley", serif;
  font-style: italic;
  letter-spacing: 3px;
  text-align: right;
  margin-top: -10px;
}

.sidebar-container a {
  color: #1d543d;
  font-family: "Besley", serif;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.sidebar-container a:hover, .sidebar-container a:focus {
  color: rgba(29, 84, 61, 0.75);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}

.sidebar-container .email-list_input {
  width: 100%;
  margin: 1.5em 0;
  padding: 5px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar ul {
  margin-top: 1.3em;
}

.sidebar ul li {
  list-style: none;
  margin-bottom: .8em;
}

.sidebar ul li a {
  color: rgba(41, 41, 41, 0.8);
  font-size: .75rem;
  text-decoration: underline;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.sidebar ul li a:hover, .sidebar ul li a:focus {
  cursor: pointer;
  color: #9c9b9b;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

@media (min-width: 450px) {
  .sidebar-container.about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar-container.about-me .about-me_text {
    width: 45%;
  }
  .sidebar-container.about-me img {
    width: 45%;
    height: 100%;
    min-height: 350px;
  }
}

@media (min-width: 650px) {
  .sidebar .sidebar-container.about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar .sidebar-container.about-me .about-me_text {
    width: 100%;
  }
  .sidebar .sidebar-container.about-me img {
    width: 100%;
    height: 200px;
  }
  .sidebar h4 {
    font-size: 1rem;
  }
}

.page img {
  width: 100%;
  margin: 1em 0;
}

section {
  margin: 1em 0;
}

section article .article-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1em;
}

section article h3, section article p, section article button {
  margin-top: 1em;
}

.article-header img {
  width: 100%;
}

.article-header h3 {
  margin: 1em 0;
}

section button {
  width: 100%;
  background-color: #1d543d;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  padding: 1em;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

section button:first-of-type {
  margin-bottom: 3em;
}

section button:hover {
  background-color: rgba(29, 84, 61, 0.85);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}

.search-bar {
  border-bottom: 1px solid #f9f8f8;
  margin: 1.5em 0;
  display: none;
}

.search-bar input {
  width: 100%;
  margin: .5em 0;
  padding: 5px;
  border: none;
}

@media (min-width: 650px) {
  .search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer {
  background: #1d543d;
  width: 100%;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Besley", serif;
  font-size: .75rem;
}

footer .footer-container a {
  color: rgba(249, 248, 248, 0.7);
  text-decoration: none;
}

body {
  background-color: #F9F8F8;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
}

.footer-container, .container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 2em;
}

.container {
  background-color: #fff;
}

h2 {
  font-size: 1.7rem;
}

h2, h4 {
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  margin-top: 1em;
}

h3 {
  font-family: "Besley", serif;
  font-weight: 300;
  font-size: 1.5rem;
}

hr {
  margin: 3em;
  color: #1d543d;
}

@media (min-width: 650px) {
  section.article-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.article-section article {
    width: 62%;
  }
  section.article-section aside {
    width: 34%;
  }
}
