section {

    margin: 1em 0;

    article {

        .article-img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-top: 1em;
    }

    h3, p, button {
        margin-top: 1em;
    }
}
}

//Post

.article-header {
    img {
        width: 100%;
    }

    h3 {
        margin: 1em 0;
    }
}