section button {
    width: 100%;
    background-color: $accent-color;
    @include smallcaps;
    color: rgba(#fff, .9);
    box-shadow: $bs;
    border: none;
    padding: 1em;
    @include transition-ease;

    &:first-of-type {
        margin-bottom: 3em;
    }


    &:hover {
        background-color: rgba($accent-color, .85);
        @include transition-ease;
        cursor: pointer;
    }
}