* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//breakpoints

$phone-bp: 450px;
$tablet-bp: 550px;
$column-bp: 650px;

// colors

$background-color: #fff;
$accent-color: #1d543d;
$sidebar-background: #f1f0f0;
$font-color: #292929;
$secondary-font-color: #9c9b9b;
$light-text: #f9f8f8;

// fonts

$caps: "Lexend", sans-serif;
$script: "Besley", serif;

$bs: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$ts: 1px 1px 2px rgba(0,0,0,0.3);

@mixin smallcaps {
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

@mixin script-italic {
  font-family: $script;
  font-style: italic;
  letter-spacing: 3px;
}

@mixin link-hover($color) {
  cursor: pointer;
  color: $color;
}

@mixin transition-ease {
  transition: all 400ms ease;
}

@mixin hamburger-span {
  content: "";
  width: 33px;
  height: 4px;
  position: absolute;
  background: $light-text;
  border-radius: 7px;
  @include transition-ease
}
