.hero-logo {
    margin: 6em 0 3em 0;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &_img {
        width:55%;
        max-width: 250px;
        margin: 0 auto;
        opacity: 5%;
        position: absolute;
        transform: scaleX(-1) rotate(230deg) translateY(2em);
    }

    &_text {
        width:100%;
        max-width: 450px;
        margin: 0 auto;
    }
}