.sidebar {
    margin-bottom: 1.5em;
    width: 100%;
    background: $sidebar-background;

    img {
        width: 100%;
        height: 33%;
        object-fit: cover;
    }

    h4 {
        font-size: 1.5rem;
    }


    &-container {
        padding: 1em;
        box-shadow: $bs;

        p {
            font-size: .75rem;
            margin: 1em 0;

            &.email-list_subtitle {
                @include script-italic;
                text-align: right;
                margin-top: -10px;
            }
        }
        
        a {
            color: $accent-color;
            font-family: $script;
            text-decoration: none;
            @include transition-ease;

            &:hover,
            &:focus {
                color: rgba($accent-color, .75);
                @include transition-ease;
                cursor: pointer;
            }

        }

        .email-list_input {
            width: 100%;
            margin: 1.5em 0;
            padding: 5px;
            border: none;
            box-shadow: $bs;
        }
    }

    ul {
        margin-top: 1.3em;

        li {
            list-style: none;
            margin-bottom: .8em;

            a {
                color: rgba($font-color, .8);
                font-size: .75rem;
                text-decoration: underline;
                @include transition-ease;

                &:hover,
                &:focus {
                    @include link-hover($secondary-font-color);
                    @include transition-ease;
                }
            }
        }
    }


}